body#loading {
    section#content {
        width: 100%;
        text-align: center;
        text-align: -webkit-center;
        margin-top: 2em;
        h1 {
            font-size: 2rem;
            font-weight: 100;
        }
        img{
            width: 23em;
        }
        .loader {
            font-size: 10px;
            margin: 50px auto;
            text-indent: -9999em;
            width: 8em;
            height: 8em;
            border-radius: 50%;
            background: #49EB8B;
            background: linear-gradient(to right, #49EB8B 10%, rgba(0,0,0, 0) 42%);
            position: relative;
            animation: load3 1.4s infinite linear;
            transform: translateZ(0);
          
            &::before {
              width: 50%;
              height: 50%;
              background: #49EB8B;
              border-radius: 100% 0 0 0;
              position: absolute;
              top: 0;
              left: 0;
              content: '';
            }
          
            &::after {
              background: #F5F5F5;
              width: 75%;
              height: 75%;
              border-radius: 50%;
              content: '';
              margin: auto;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
            }
          }
          
          @keyframes load3 {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
          
    }
}